@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap');
$primary:#2D2D98;
$primary-shade:#00157D;
$primary-tint:#2E79F2;
$secondary:#FF1000;
$tertiary:#50B10B;
$gray1:#F8F9FA;
$gray2:#DDE2E5;
$gray3:#ACB5BD;
$gray4:#495057;
$dark:#212429;
$mid:#808080;
$light:#CCCCCC;
//$url:'https://';
//$url:'https://1dmg.com.ph/';
//$url:'../../../public/';